# For langchain and its related packages, if they are not standard PyPI packages, you may need a direct link or specify them differently
langchain
langchainhub
langchain_community
langchain_openai

### The following requirements for local run
#python-dotenv
#IPython  # For display, Markdown, Latex functionalities

### The following requirements for local LLM
gpt4all # for embedding
# glob  # Assuming you're using glob, but glob2 is an extended version compatible with more patterns
# PyPDF2  # For PDF parsing
chromadb  # Specific package, ensure correct name and version as needed

### The following requirements for web search
#beautifulsoup4  # bs4 is imported
#requests  # Common dependency for web-based operations, assuming for WebBaseLoader
